* {
    font-family: 'Oxygen', sans-serif;
}
body {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    margin: 0px 30px 0px 30px;
    text-align: center;
}

p {
    margin-top: 10px;
    font-size: 35px;
    line-height: 40px;
}
.small {
    font-size: 60%;
}

.row {
    display: flex;
}

.column {
    flex-grow: 1;
    padding: 20px;
}

#contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactBox {
    /* width: 33%; */
    width: 100%;
    display:flex;
    justify-content: center;
}

.contactBlob {
    margin: 0px 10px 0px 10px;
}

#mainImg {
    width: 40vw;
    /* width: 100%; */
    height: auto;
    /* margin-top: 10px; */
}

#mailImage {
    height: 28px;
    width: auto;
}

#gitHubImage {
    height: 28px;
    width: auto;
}
/* f */
